## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'
application_df = application_df.drop(columns=['EIN', 'NAME'])

In [3]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()
print(unique_values)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

print(application_type_counts)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff= 1000

application_types_to_replace = application_type_counts[application_type_counts < cutoff].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_type_counts = application_df['CLASSIFICATION'].value_counts()

print(classification_type_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff2 = 2000

classifications_to_replace = classification_type_counts[classification_type_counts < cutoff2].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
Other     6062
C1200     4837
Name: count, dtype: int64

In [8]:
# Look at ASKAMT value counts to identify and replace with Ranges
ask_amt_counts = application_df['ASK_AMT'].value_counts()

print(ask_amt_counts)

ASK_AMT
5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: count, Length: 8747, dtype: int64

In [9]:
# Define the condition to create the ranges
condition = (application_df['ASK_AMT'] <= 5000)

# Replace values based on the condition
application_df.loc[condition, 'ASK_AMT'] = '5000'
application_df.loc[~condition, 'ASK_AMT'] = 'greater than 5000'

# Check the distribution of the modified ASK_AMT column
print(application_df['ASK_AMT'].value_counts())

ASK_AMT
5000                 25398
greater than 5000     8901
Name: count, dtype: int64

In [10]:
# Look at affiliations
affiliation_counts = application_df['AFFILIATION'].value_counts()
affiliation_counts

AFFILIATION
Independent         18480
CompanySponsored    15705
Family/Parent          64
National               33
Regional               13
Other                   4
Name: count, dtype: int64

In [11]:
# Choose a cutoff value and create a list of affiliations to be replaced
# use the variable name `affiliations_to_replace`
cutoff3 = 10000

affiliations_to_replace = affiliation_counts[affiliation_counts < cutoff3].index

# Replace in dataframe
for afl in affiliations_to_replace:
    application_df['AFFILIATION'] = application_df['AFFILIATION'].replace(afl,"Other")

# Check to make sure replacement was successful
application_df['AFFILIATION'].value_counts()

AFFILIATION
Independent         18480
CompanySponsored    15705
Other                 114
Name: count, dtype: int64

In [12]:
#Look at organizations
organization_counts = application_df['ORGANIZATION'].value_counts()
organization_counts

ORGANIZATION
Trust           23515
Association     10255
Co-operative      486
Corporation        43
Name: count, dtype: int64

In [13]:
# Choose a cutoff value and create a list of organizations to be replaced
# use the variable name `organizations_to_replace`
cutoff4 = 500

organizations_to_replace = organization_counts[organization_counts < cutoff4].index

# Replace in dataframe
for org in organizations_to_replace:
    application_df['ORGANIZATION'] = application_df['ORGANIZATION'].replace(org,"Other")

# Check to make sure replacement was successful
application_df['ORGANIZATION'].value_counts()

ORGANIZATION
Trust          23515
Association    10255
Other            529
Name: count, dtype: int64

In [14]:
# Look at use cases
use_case_counts = application_df['USE_CASE'].value_counts()
use_case_counts

USE_CASE
Preservation     28095
ProductDev        5671
CommunityServ      384
Heathcare          146
Other                3
Name: count, dtype: int64

In [15]:
# Choose a cutoff value and create a list of use_cases to be replaced
# use the variable name `use_cases_to_replace`

use_cases_to_replace = use_case_counts[use_case_counts < cutoff4].index

# Replace in dataframe
for use_case in use_cases_to_replace:
    application_df['USE_CASE'] = application_df['USE_CASE'].replace(use_case,"Other")

# Check to make sure replacement was successful
application_df['USE_CASE'].value_counts()

USE_CASE
Preservation    28095
ProductDev       5671
Other             533
Name: count, dtype: int64

In [16]:
# Filter out all applications with Special Considerations
application_df = application_df[application_df['SPECIAL_CONSIDERATIONS'] != 'Y']
application_df = application_df.drop(columns=['SPECIAL_CONSIDERATIONS'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,Other,Independent,C1000,ProductDev,Association,1,0,5000,1
1,T3,Independent,C2000,Preservation,Other,1,1-9999,greater than 5000,1
2,T5,CompanySponsored,Other,ProductDev,Association,1,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,greater than 5000,1
4,T3,Independent,C1000,Other,Trust,1,100000-499999,greater than 5000,1

In [17]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, drop_first = True)

In [18]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'] # Target
X = application_df.drop(columns = ['IS_SUCCESSFUL']) #Features

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 42069)

In [19]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [20]:
#Get the number of input features
input_features = X_train.shape[1]

input_features

24

In [21]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units = 8, activation ='swish', input_dim = input_features))
# Second hidden layer
nn.add(tf.keras.layers.Dense(units= 4, activation = 'swish', input_dim = input_features))
# Third hidden layer
nn.add(tf.keras.layers.Dense(units= 2, activation = 'swish'))
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation = 'sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 200

 dense_1 (Dense)             (None, 4)                 36

 dense_2 (Dense)             (None, 2)                 10

 dense_3 (Dense)             (None, 1)                 3

=================================================================
Total params: 249 (996.00 Byte)
Trainable params: 249 (996.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [22]:
# Compile the model
nn.compile(loss= 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [23]:
# Train the model
X_train = X_train.astype('float32')
y_train = y_train.astype('float32')

model_train = nn.fit(X_train, y_train, epochs=25, batch_size = 64, verbose = 2)

Epoch 1/25
429/429 - 8s - loss: 0.6404 - accuracy: 0.6528 - 8s/epoch - 18ms/step
Epoch 2/25
429/429 - 1s - loss: 0.5847 - accuracy: 0.7132 - 1s/epoch - 3ms/step
Epoch 3/25
429/429 - 1s - loss: 0.5798 - accuracy: 0.7193 - 1s/epoch - 3ms/step
Epoch 4/25
429/429 - 1s - loss: 0.5759 - accuracy: 0.7228 - 1s/epoch - 3ms/step
Epoch 5/25
429/429 - 2s - loss: 0.5737 - accuracy: 0.7231 - 2s/epoch - 4ms/step
Epoch 6/25
429/429 - 1s - loss: 0.5717 - accuracy: 0.7237 - 1s/epoch - 3ms/step
Epoch 7/25
429/429 - 1s - loss: 0.5707 - accuracy: 0.7218 - 899ms/epoch - 2ms/step
Epoch 8/25
429/429 - 1s - loss: 0.5692 - accuracy: 0.7228 - 1s/epoch - 3ms/step
Epoch 9/25
429/429 - 2s - loss: 0.5681 - accuracy: 0.7234 - 2s/epoch - 4ms/step
Epoch 10/25
429/429 - 2s - loss: 0.5672 - accuracy: 0.7242 - 2s/epoch - 4ms/step
Epoch 11/25
429/429 - 1s - loss: 0.5660 - accuracy: 0.7264 - 1s/epoch - 3ms/step
Epoch 12/25
429/429 - 1s - loss: 0.5649 - accuracy: 0.7267 - 1s/epoch - 2ms/step
Epoch 13/25
429/429 - 1s - loss: 0.5643 - accuracy: 0.7258 - 1s/epoch - 2ms/step
Epoch 14/25
429/429 - 1s - loss: 0.5633 - accuracy: 0.7263 - 1s/epoch - 3ms/step
Epoch 15/25
429/429 - 1s - loss: 0.5627 - accuracy: 0.7261 - 859ms/epoch - 2ms/step
Epoch 16/25
429/429 - 1s - loss: 0.5624 - accuracy: 0.7266 - 797ms/epoch - 2ms/step
Epoch 17/25
429/429 - 1s - loss: 0.5617 - accuracy: 0.7278 - 767ms/epoch - 2ms/step
Epoch 18/25
429/429 - 1s - loss: 0.5613 - accuracy: 0.7272 - 782ms/epoch - 2ms/step
Epoch 19/25
429/429 - 1s - loss: 0.5613 - accuracy: 0.7264 - 868ms/epoch - 2ms/step
Epoch 20/25
429/429 - 1s - loss: 0.5608 - accuracy: 0.7274 - 801ms/epoch - 2ms/step
Epoch 21/25
429/429 - 1s - loss: 0.5602 - accuracy: 0.7268 - 808ms/epoch - 2ms/step
Epoch 22/25
429/429 - 1s - loss: 0.5602 - accuracy: 0.7265 - 1s/epoch - 3ms/step
Epoch 23/25
429/429 - 1s - loss: 0.5599 - accuracy: 0.7285 - 1s/epoch - 3ms/step
Epoch 24/25
429/429 - 1s - loss: 0.5599 - accuracy: 0.7275 - 1s/epoch - 3ms/step
Epoch 25/25
429/429 - 1s - loss: 0.5594 - accuracy: 0.7269 - 840ms/epoch - 2ms/step

In [24]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.9954 - accuracy: 0.7071 - 485ms/epoch - 2ms/step
Loss: 0.9954246282577515, Accuracy: 0.7070751190185547

In [25]:
# Export our model to HDF5 file
filepath = 'AlphabetSoupCharity_Optimization.h5'
nn.save(filepath)

print(f"Model saved to {filepath}.")

Model saved to AlphabetSoupCharity_Optimization.h5.

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(